@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.header{
    width: 100vw;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(255, 86, 131);
    padding: 20px 10px;
    position: fixed;
    width: 100%;
}

.nav-logo a{
    display: flex;
    align-items: center;
    gap:10px;
}

.nav-logo img{
    width: 30px;
    height: 50px;
}

.nav-logo .title{
    font-size: 20pt;
    color: beige;
    font-weight: bold;
}

.nav-list{
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 15pt;
}

.nav-list li a{
    color: beige;
    letter-spacing: 1px;
    padding: 10px 15px 5px 0px;
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
}

.nav-list li a::before{
    content: '';
    width: 0%;
    height: 3px;
    background-color: beige;
    position: absolute;
    bottom: 0px;
    left: 0;
    transition: .3s ease-in-out;
    opacity: 0;
}

.nav-list li a:hover::before{
    width: 100%;
    opacity: 1;
}

.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.contact-wp, .contact-ig{
    background-color: beige;
    padding: 10px;
    border: none;
    border-radius: .5rem;
    display: flex;
    justify-content: space-between;
}

.contact img{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.contact-wp a, .contact-ig a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(255, 86, 131);
}

#btn-hamburger{
    display: none;
}


@media (max-width: 768px){

    .header{
        position: fixed;
    }

    .navbar{
        padding-inline: 20px;
        justify-content: space-between;
        height: 50px;
    }
    
    .nav-logo a span{
        display: none;
    }
    .nav-logo h1{
        font-size: 10pt;
    }

    .nav-logo img{
        width: 19px;
        height: 30px;
    }

    .nav-list{
        position: absolute;
        width: 50%;
        height: calc(100vh - 70px);
        background-color: rgb(255, 86, 131);
        top: 50px;
        right: -500px;
        flex-direction: column;
        justify-content: center;
        gap: 150px;
        transition: .3s ease-in-out;
    }
    .nav-list.active{
        right: 0;
    }

    .contact{
         display: none;
    }

    #btn-hamburger{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 7px;
        border: 0;
        background: transparent;
        cursor: pointer;
        padding: 5px;
    }

    #btn-hamburger span{
        width: 30px;
        height: 3px;
        background: white;
        transition: all .3s;
    }

    #btn-hamburger.active span:nth-child(2){
        opacity: 0;
        width: 0;
    }

    #btn-hamburger.active span:nth-child(1){
        transform: rotate(-45deg) translate(-4px, 4px);
    }

    #btn-hamburger.active span:nth-child(3){
        transform: rotate(45deg) translate(-8px, -10px);
    }

}